@model HotelApIResult.Controllers.HotelRoomsDetails

@{
    ViewBag.Title = "Contact";
}

<h2>Selected Room Details</h2>

<div>
    @*<h4>HotelRoomsDetails</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amenities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amenities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price.RoomPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InfoSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfoSource)
        </dd>

    </dl>
</div>
