@model IEnumerable<HotelApIResult.Controllers.HotelResult>

@{
    ViewBag.Title = "HotelResults";
}

<h2>HotelResults</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResultIndex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StarRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelPicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price.RoomPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResultIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelDescription)
            </td>

            <td>
                <img src="@Html.DisplayFor(modelItem => item.HotelPicture)" width="100" height="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price.RoomPrice)
            </td>
            <td>
                @Html.ActionLink("Book", "HotelInfos", new { HotelCode = item.HotelCode, ResultIndex = item.ResultIndex },new{ @class="btn btn-danger" })
            </td>
        </tr>
    }

</table>
<h3>Box Format</h3>
@foreach (var item in Model)
{
    <div id="tap">
        <div style="display:inline-block;float:left">
            <ul style="list-style-type:none;display:block" class="row">
                <li>@Html.DisplayFor(modelItem => item.ResultIndex)</li>
                <li>@Html.DisplayFor(modelItem => item.HotelCode)</li>
                <li>@Html.DisplayFor(modelItem => item.HotelName)<span><img src="@Html.DisplayFor(modelItem => item.HotelPicture)" width="100" height="100" /></span>
                <span>@Html.DisplayFor(modelItem => item.StarRating)</span></li>
                <li>@Html.DisplayFor(modelItem => item.HotelCategory)</li>
                <li></li>
            </ul>
        </div>
    </div>
}
<style>
    #tap:hover 
    {
        box-shadow: 6px 3px 12px #808080;
        width: 1145px;
    }
    #tap {
        display: block;
        border: 1px solid #bbb;
        height: 200px;
        margin-bottom: 10px;
        box-shadow: 6px 3px 10px #d4d4d4;
        border-radius: 4px 4px;
    }
</style>