<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:300,400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/MyDesign/css/library/font-awesome.min.css">
    <link rel="stylesheet" href="~/MyDesign/css/library/bootstrap.min.css">
    <link rel="stylesheet" href="~/MyDesign/css/library/jquery-ui.min.css">
    <link rel="stylesheet" href="~/MyDesign/css/library/magnific-popup.css">
    <link rel="stylesheet" href="~/MyDesign/css/library/owl.carousel.css">
    <link rel="stylesheet" href="~/MyDesign/css/library/jquery.mb.YTPlayer.min.css">
    <link rel="stylesheet" href="~/MyDesign/css/style.css">
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window, document, 'script', '../../../connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1031554816897182');
        fbq('track', "PageView");</script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1031554816897182&amp;ev=PageView&amp;noscript=1" />
    </noscript>
</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <div class="logo float-left">
                <a href="@Url.Action("Index","Home")" title="">
                    <img src="~/MyDesign/images/logo-header.png" alt="">
                </a>
            </div>
            <div class="bars" id="bars"></div>
        </div>
    </header>
    @RenderBody()
    <footer style="width:100%">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo-foter">
                        <a href="@Url.Action("Index","Home")" title=""><img src="~/MyDesign/images/logo-footer.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <div class="ul-ft">
                        <ul>
                            <li><a href="@Url.Action("About","Home")" title="">About</a></li>
                            <li><a href="#" title="">Blog</a></li>
                            <li><a href="#" title="">FQA</a></li>
                            <li><a href="#" title="">Carrers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <div class="ul-ft">
                        <ul>
                            <li><a href="#" title="">Contact Us</a></li>
                            <li><a href="#" title="">Privacy Policy</a></li>
                            <li><a href="#" title="">Term of Service</a></li>
                            <li><a href="#" title="">Security</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="currency-lang-bottom dropdown-cn float-left">
                        <div class="dropdown-head">
                            <span class="angle-down"><i class="fa fa-angle-down"></i></span>
                        </div>
                        <div class="dropdown-body">
                            <ul>
                                <li class="current"><a href="#" title="">English</a></li>
                                <li><a href="#" title="">Bahasa Melayu</a></li>
                                <li><a href="#" title="">Català</a></li>
                                <li><a href="#" title="">Dansk</a></li>
                                <li><a href="#" title="">Deutsch</a></li>
                                <li><a href="#" title="">Francais</a></li>
                                <li><a href="#" title="">Italiano</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="currency-lang-bottom dropdown-cn float-left">
                        <div class="dropdown-head">
                            <span class="angle-down"><i class="fa fa-angle-down"></i></span>
                        </div>
                        <div class="dropdown-body">
                            <ul>
                                <li class="current"><a href="#" title="">US</a></li>
                                <li><a href="#" title="">ARS</a></li>
                                <li><a href="#" title="">ADU</a></li>
                                <li><a href="#" title="">CAD</a></li>
                                <li><a href="#" title="">CHF</a></li>
                                <li><a href="#" title="">CNY</a></li>
                                <li><a href="#" title="">CZK</a></li>
                            </ul>
                        </div>
                    </div>
                    <p class="copyright">&copy; @DateTime.Now.ToShortDateString() Pay2Cart-Hotel™ All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="~/MyDesign/js/library/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="~/MyDesign/js/library/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/MyDesign/js/library/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/MyDesign/js/library/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/MyDesign/js/library/parallax.min.js"></script>
    <script type="text/javascript" src="~/MyDesign/js/library/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="~/MyDesign/js/library/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="~/MyDesign/js/library/jquery.mb.YTPlayer.min.js"></script>
    <script type="text/javascript" src="~/MyDesign/js/library/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="~/MyDesign/js/library/SmoothScroll.js"></script>
    <script type="text/javascript" src="~/MyDesign/js/script.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-20585382-5', 'megadrupal.com');
        ga('send', 'pageview');</script>
</body>
<!-- Mirrored from envato.megadrupal.com/html/bookawesome/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 May 2018 09:08:06 GMT -->
</html>
